Task #1.

Write a program, to create a child class Teacher that will inherit the properties of Parent class Staff.

Staff expected  (role, dept, salary) arguments in init.

Teacher expected  (name, age) arguments in init. All teacher have role = Teacher, dept = Science

show_details()  - show formated output string with name, age, role and departmment

In [4]:
teacher = Teacher("Raj", 28)

#access the Staff Method
teacher.show_details()

# Name:  Raj
# Age:  28
# Role: Teacher
# Department: Science

Name:  Raj
Age:  28
Role:  Teacher
Department:  Science

Task #2. 

Write a Program, to create Teacher class and using the class instance print all the writable attributes of that object.

{'age': 28, 'dept': 'Science', 'name': 'Raj', 'role': 'Teacher', 'salary': 25}

Task #3.

Add to class Teacher the private attribute salary

In [7]:
teacher = Teacher("Raj", 45, 25000)

print(teacher.name)   #Raj

# access private member outside the class will throw error
print(teacher.__salary)   #error

Raj

AttributeError: ignored

Task #4. 

Write a Python program that Orders the operator + and > for a custom class.

Orders expect an argument items - list with some values

In [12]:
order1 = Orders([1, 2, 3, 4, 5, 6])

order2 = Orders([10, 20, 30])

#print("order1 + order2=", order1 + order2)
print("order1 > order2=", order1 > order2)

# order1 + order2 = Orders([1, 2, 3, 4, 5, 6, 10, 20, 30])
# order1 > order2 = True

order1 > order2= greater

Task #5.

Write a Program in Python to implement a Stack Data Structure using Class and Objects, with push, pop, and traversal method.

* push - add element to the end
* pop - get last element
* traversal - print content of Stack

In [17]:

# initialize the object
stack = Stack()

# push item to the stack
stack.push(1)
stack.push(2)
stack.push(3)
stack.push("new")
stack.push(5)
stack.push(6)
stack.push(7)
stack.push(8)
stack.push(9)

# pop items from the stack
stack.pop()
stack.pop()

# traverse through the stack
stack.traversal()

# | 7 |
# | 6 |
# | 5 |
# | 4 |
# | 3 |
# | 2 |
# | 1 |

| 7 |
| 6 |
| 5 |
| new |
| 3 |
| 2 |
| 1 |

Task #6.

Write a program that prints the class name using its object.

Task #7.

Write a Python class named Circle constructed by a radius and two methods which will compute the area and the perimeter of a circle.

Task #8.

Write the definition of a Point class. Objects from this class should have:


*   a method show to display the coordinates of the point
*   a method move to change these coordinates.
*   a method dist that computes the distance between 2 points.


Recap:

$distance = \sqrt{(x_{1} - x_{0})^2 + (y_{1} - y_{0})^2}$

In [21]:
p0 = Point(0, 0)
p1 = Point(1, 1)
p2 = Point(0, 1)

print(p0.dist(p1))
print(p0.dist(p2))

1.4142135623730951
1.0

Task #9.

Write the definition of a Line class. For initialization it requiers two instances of class Point

 Objects from this class should have:


*   a method equation to display the line equation
*   a method is_belong to check if point belongs to the line

In [44]:
p1 = Point(1, 1)
p2 = Point(2, 2)

In [40]:
l = Line(p1, p2)

In [41]:
_ = l.equation

1.0 * x + 0.0 = y

## Dataclasses

Docs: https://docs.python.org/3/library/dataclasses.html

In [47]:
print(p1, p2)

<__main__.Point object at 0x7f83a7bd6310> <__main__.Point object at 0x7f83a7bd6f50>

In [48]:
from dataclasses import dataclass

@dataclass
class Point:

  x: int
  y: int
  z: int = 0

In [49]:
p1 = Point(1, 1)
p2 = Point(2, 2)

In [50]:
p1, p2

(Point(x=1, y=1, z=0), Point(x=2, y=2, z=0))